.about {
  .items {
    margin: 40px 30px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
}

@media (max-width: 750px) {
  .about {
    .items {
      grid-template-columns: repeat(1, 100%);
    }
  }
}