// .container * {
//     margin: 0px;
//     padding: 0px;
//     box-sizing: border-box;
//     font-family: "Hiragino Sans", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
// }

.container {
    width: 100%;
    padding: 15px 0px 120px 0px;
    // display: flex;
    // justify-content: center;
    
    .row1 {
        padding: 90px 0px 35px 0px;

        .logo {
            margin-bottom: 45px;
            display: flex;
            justify-content: center;

            img {
                // height: 60px;
                width: 100px;
                object-fit: cover;
            }
        }

        .title {
            display: flex;
            justify-content: center;

            p {
                font-size: 42px;
                line-height: 1.6;
                font-weight: 500;
                font-family: 'Times New Roman', Times, serif;
            }
        }
    }
    // background-color: #2dccd3;

    .items {
        width: 1182px ;
        // background-color: red;
        margin: 0px auto 60px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .item {
            border: 1px solid #ddd;
            width: 50%;
            margin: 0 -1px -1px 0;
            padding: 28px 30px 22px 30px;
            cursor: pointer;
            transition: all 0.3s ease;


            .date {
                color: #2dccd3;
                margin-bottom: 10px;
                font-size: 14px;
                word-wrap: break-word;
            }

            .title {
                font-size: 16px;
                // width: 50%;
                font-weight: 400;
                line-height: 1.6;
                max-height: 3.2em;
                word-wrap: break-word;
                text-overflow: ellipsis;

            }
        }

        .item:hover {
            background-color: rgb(246 246 246);
        }
    }

  

    .button {
        display: flex;
        justify-content: center;

        button {
            text-align: center;
            color: #ffffff;
            background-color: #222222;
            min-width: 240px;
            height: 60px;
            padding: 0 20px;
            font-size: 16px;
            cursor: pointer;
            border: none;
            transition: all 0.3s ease;
        }

        button:hover {
            background-color: #2dccd3;
        }
    }
}



@media screen and (max-width:1250px) {
    .container {
        // padding: 15px 0px 60px 0px;

        .row1 {
            padding: 37px 30px 40px 30px;
        }

        .items {
            width: 90%;
            margin: 0px 30px 60px 30px !important;
        }
    }
}



@media screen and (max-width:950px) {
    .container {

        .row1 {
            .title {
                p {
                    font-size: 20px;
                }
            }
        }

        .row1 {
            padding: 25px 20px 23px 20px;

            .logo {
                margin-bottom: 25px;

                img {
                    width: 38px;
                    height: 38px;
                    object-fit: cover;
                }
            }
        }

        .items {
            display: flex;
            flex-wrap: wrap;
            margin: 0px 30px 60px 30px !important;
            .item {
                width: 100%;

                .date {
                    font-size: 14px;
                }

                .title {
                    font-size: 12px;
                }
            }
        }

        .button {
            button {
                min-width: 200px;
                height: 45px;
                line-height: 45px;
                padding: 0 15px;
                font-size: 12px;
            }
        }
    }
}

@media screen and (max-width:550px) {
    .container {
        .items {
            margin: 0px 20px 30px 20px;
        }
    }
}