.container .banner {
    // width: 100%;
    // height: 500px;
    height: auto;
    position: relative;
}

.container {
    background-color: rgba(0, 0, 0, 0.07);
    padding-bottom: 100px;
}

.container .banner .bannerBackground {
    // width: 100%;
    // height: 100%;
    width: auto;
    height: auto;
    // background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
}

.container .banner .bannerBackground img {
    // margin: 30px auto;
    width: 100%;
    height: 600px;
    margin-bottom: 30px;
    // width: auto;
    // height: auto;
    object-fit: cover;
    object-position: center;
}

.container .banner .bannerText {
    position: absolute;
    top: 0px;
    left: 0px;
    // background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    // height: 500px;
    height: auto;
    display: flex;
    align-items: center;
}

.container .banner .bannerText .text {
    width: 1182px;
    margin: auto;
}

.container .banner .bannerText .text .title {
    font-size: 38px;
    color: #ffffff;
    line-height: 1, 4;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 8px;
}

//
.productFilter {
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.filter {
    display: flex;
    gap: 10px;
}

.search input {
    min-width: 200px;
    width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

select {
    min-width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    option {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}



//
.container .products {
    max-width: 1300px;
    display: flex;
    justify-content: center;
    // flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 30px;
    margin: auto auto;
}

.container .products .item {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: rgba(0, 0, 0, 0.2);
    background-color: white;
    position: relative;
    cursor: pointer;
    animation: fadeIn 2s forwards;
}

.container .products .item img {
    width: 275px;
    height: 275px;
    // object-fit: cover;
}

.container .products .item .overlay {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.container .products .item:hover {
    .overlay {
        display: block;
    }
}

.container .products .item .overlay .title {
    position: absolute;
    top: 100px;
    transform: translateX(-50%);
    left: 50%;
    width: 260px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    overflow: hidden;
    white-space: nowrap;
}

.container .products .item .overlay .price {
    position: absolute;
    top: 130px;
    transform: translateX(-50%);
    left: 50%;
    width: 270px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    overflow: hidden;
    white-space: nowrap;
}

.container .products .item .overlay .description {
    position: absolute;
    bottom: 10px;
    transform: translateX(-50%);
    left: 50%;
    width: 270px;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    overflow: hidden;
}

.container .loadMore button {
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: black;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    width: 130px;
    height: 45px;
}

.container .loadMore button:hover {
    background-color: #333333;
}

// @keyframes fadeIn {
//     from {
//         opacity: 0;
//         transform: translateY(20px);
//     }

//     to {
//         opacity: 1;
//         transform: translateY(0);
//     }
// }

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media screen and (max-width:1250px) {
    // .container .banner {
    //     height: 480px;
    // }

    // .container .banner .bannerText {
    //     height: 480px;
    // }

    // .container .banner .bannerText .text {
    //     width: 100%;
    //     padding: 0 30px;
    // }
}

@media screen and (max-width:950px) {
    // .container .banner {
    //     height: 350px;
    // }

    // .container .banner .bannerText {
    //     height: 350px;
    // }
}


@media screen and (max-width:750px) {
    // .container .banner .bannerText .text .title {
    //     font-size: 24px;
    // }
}

@media screen and (max-width:550px) {
    // .container .banner {
    //     height: 300px;
    // }

    // .container .banner .bannerText {
    //     height: 300px;
    // }

    // .container .banner .bannerText .text {
    //     width: 100%;
    //     padding: 0 20px;
    // }
}