.container {
    background-color: rgba(0, 0, 0, 0.02);
    padding-bottom: 100px;
}

.container .banner {
    height: 500px;
    position: relative;
}

.container .banner .bannerBackground {
    width: 100%;
    height: 100%;
}

.container .banner .bannerBackground img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.container .banner .bannerText {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
}

.container .banner .bannerText .text {
    width: 1182px;
    margin: auto;
}

.container .banner .bannerText .text .title {
    font-size: 38px;
    color: #ffffff;
    line-height: 1, 4;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 8px;
}

.emptyItem {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-size: 30px;
        font-family: 'Times New Roman', Times, serif;
    }
}

//
.productFilter {
    max-width: 100vw;
    width: 1380px;
    margin: auto;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px 40px;
    margin-top: 40px;
}

.filter {
    display: flex;
    gap: 10px;
}

.search input {
    min-width: 200px;
    width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

select {
    min-width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    option {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}



//
.container .products {
    max-width: 1380px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: auto auto;
    padding: 0px 40px;
}

.container .products .item {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: rgba(0, 0, 0, 0.2);
    background-color: white;
    position: relative;
    cursor: pointer;
    animation: fadeIn 2s forwards;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.container .products .item img {
    width: 275px;
    height: 275px;
    // object-fit: cover;
}

.container .products .item .overlay {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.container .products .item:hover {
    .overlay {
        display: block;
    }
}

.container .products .item .overlay .title {
    position: absolute;
    top: 100px;
    transform: translateX(-50%);
    left: 50%;
    width: 260px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 1em;
    /* Thêm không gian để chứa dấu cách và dấu ba chấm */
}

/* Thêm dấu cách trước dấu ba chấm */
.container .products .item .overlay .title:after {
    content: ' ';
}

.container .products .item .overlay .price {
    position: absolute;
    top: 130px;
    transform: translateX(-50%);
    left: 50%;
    width: 270px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    overflow: hidden;
    white-space: nowrap;
}

.container .products .item .overlay .description {
    position: absolute;
    bottom: 10px;
    transform: translateX(-50%);
    left: 50%;
    width: 270px;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    overflow: hidden;
}

.container .pagination {
    margin-top: 40px;
}

.container .loadMore button {
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: black;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    width: 130px;
    height: 45px;
}

.container .loadMore button:hover {
    background-color: #333333;
}

// @keyframes fadeIn {
//     from {
//         opacity: 0;
//         transform: translateY(20px);
//     }

//     to {
//         opacity: 1;
//         transform: translateY(0);
//     }
// }

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media screen and (max-width:1250px) {
    .container .banner {
        height: 480px;
    }

    .container .banner .bannerText {
        height: 480px;
    }

    .container .banner .bannerText .text {
        width: 100%;
        padding: 0 30px;
    }
}

@media screen and (max-width:950px) {
    .container .banner {
        height: 350px;
    }

    .container .banner .bannerText {
        height: 350px;
    }
}


@media screen and (max-width:750px) {
    .container .banner .bannerText .text .title {
        font-size: 24px;
    }
}

@media screen and (max-width:550px) {
    .container .banner {
        height: 300px;
    }

    .container .banner .bannerText {
        height: 300px;
    }

    .container .banner .bannerText .text {
        width: 100%;
        padding: 0 20px;
    }
}

@media screen and (max-width:950px) {
    .container .products .item {
        width: calc(45vw - 40px);
        height: auto;
        min-height: calc(45vw - 40px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        background-color: white;
        position: relative;
        cursor: pointer;
        animation: fadeIn 2s forwards;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        padding: 2.5vw;
    }

    .container .products .item img {
        width: calc(40vw - 40px);
        height: calc(40vw - 40px);
    }



    .container .products .item .overlay {
        width: 100%;
        display: block;
        position: static;
        background-color: #ffffff;
    }

    .container .products .item .overlay .title {
        position: static;
        margin-top: 15px;
        width: 100%;
        font-size: 16px;
        color: #333;
        word-wrap: break-word;
        transform: none;
        text-align: start;
    }

    .container .products .item .overlay .price {
        position: static;
        font-weight: bold;
        color: #333;
        overflow: hidden;
        transform: none;
        text-align: start;
    }

    .container .products .item .overlay .description {
        position: static;
        display: none;
    }
}

@media screen and (max-width:850px) {
    .productFilter {
        flex-direction: column;
    }

    .filter {
        flex-direction: column;
    }

    .search input {

        min-width: 200px;
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        outline: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    select {
        min-width: 200px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        outline: none;
        cursor: pointer;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        option {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

}


@media screen and (max-width:625px) {
    .container .products .item {
        width: 85vw;
        height: auto;
        min-height: 85vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        background-color: white;
        position: relative;
        cursor: pointer;
        animation: fadeIn 2s forwards;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        padding: 2.5vw;
    }

    .container .products .item img {
        width: 80vw;
        height: 80vw;
    }



    .container .products .item .overlay {
        width: 100%;
        display: block;
        position: static;
        background-color: #ffffff;
    }

    .container .products .item .overlay .title {
        position: static;
        margin-top: 15px;
        width: 100%;
        font-size: 16px;
        color: #333;
        word-wrap: break-word;
        transform: none;
        text-align: start;
    }

    .container .products .item .overlay .price {
        position: static;
        font-weight: bold;
        color: #333;
        overflow: hidden;
        transform: none;
        text-align: start;
    }

    .container .products .item .overlay .description {
        position: static;
        display: none;
    }
}