.drawer {
  display: none;
  font-size: 30px;
  margin-left: 15px;
  margin-top: 7px;
}
.popup {
  position: absolute;
  width: 400px;
  height: 100vh;
  right: 0;
  background: #222222;
  color: #ffffff ;
  font-weight: 200;
  font-size: 16px;
  z-index: 999;
}
.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.5);
}
@media (max-width: 1200px) {
  .drawer {
    display: block !important;
  }
}