.controller {
    font-family: sans-serif;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0s 0.4s;
}

.overlay.open {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.4s;
}


// .overlay {
//     position: fixed;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background-color: rgba(0, 0, 0, 0.4);
//     z-index: 100;
// }

.popup {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background-color: white;
    border-radius: 5px;
    overflow-y: auto;
    max-width: 90vw;
    max-height: 90vh;
    min-width: 300px;
    // opacity: 0;

}

.popup .iconClose {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 24px;
    cursor: pointer;
}

.popup .title {
    padding: 15px;
}

.popup .title p {
    margin-right: 20px;
    font-family: sans-serif;
    font-size: 17px;
    user-select: none;
}

.popup .message {
    padding: 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.popup .message p {
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.8);
    user-select: none;
}

.popup .buttons {
    padding: 15px;
    display: flex;
    justify-content: end;
    gap: 8px;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.popup .buttons button {
    padding: 9px 15px;
    font-family: sans-serif;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
}


button:hover {
    // background-color: #0056b3;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

