//.container {
//  > *:not(.body) {
//    animation: pageAppear 1s ease-in-out;
//  }
//  .body > *:not(:global(.page-loading-icon)) {
//    animation: pageAppear 1s ease-in-out;
//  }
//}
//
//@keyframes pageAppear {
//  0% {
//    opacity: 0;
//  }
//  100% {
//    opacity: 100%;
//  }
//}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.body {
    animation: fadeIn 2s ease-in-out;
    // opacity: 0;
}


// .body:nth-child(1) {
//     animation: fadeIn 2s ease-in-out forwards;
// }

// .body:nth-child(2) {
//     animation: fadeIn 2s ease-in-out 0.5s forwards;
// }

// .body:nth-child(3) {
//     animation: fadeIn 2s ease-in-out 1s forwards;
// }


.goToTop {
    display: none;
    background-color: #2dccd3;
    position: fixed;
    top: 80vh;
    right: 0;
    width: 56px;
    height: 56px;
    cursor: pointer;

    .icon {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        color: white;
        font-size: 30px;
    }
}

.goToTop:hover {
    background-color: #4ab7bd;
}
