.container .banner {
    // width: 100%;
    // height: 500px;
    height: auto;
    position: relative;
}

.container {
    background-color: rgba(0, 0, 0, 0.1);
    padding-bottom: 100px;
}

.container .banner .bannerBackground {
    // width: 100%;
    // height: 100%;
    width: auto;
    height: auto;
    // background-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.container .banner .bannerBackground img {
    // margin: 30px auto;
    // width: 100%;
    // height: 100%;
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: center;
}

.container .banner .bannerText {
    position: absolute;
    top: 0px;
    left: 0px;
    // background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    // height: 500px;
    height: auto;
    display: flex;
    align-items: center;
}

.container .banner .bannerText .text {
    width: 1182px;
    margin: auto;
}

.container .banner .bannerText .text .title {
    font-size: 38px;
    color: #ffffff;
    line-height: 1, 4;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 8px;
}

.container .item {
    width: 1000px;
    // height: 790px;
    height: 650px;
    margin: 16px auto 40px auto;
    padding: 24px 40px;
    background-color: #ffffff;
}

.container .item .row1 {
    display: flex;
    gap: 40px;
}

.container .item .row1 .img {
    // background-color: rgba(0, 0, 0, 0.5);
    width: 460px;
}

.container .item .row1 .img .mainImg {
    width: 460px;
    height: 460px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.container .item .row1 .img .listImg {
    width: 460px;
    height: 82px;
    margin-top: 12px;
}

.container .item .row1 .img .listImg ul {
    display: flex;
    gap: 12px;
}

.container .item .row1 .img .listImg ul li {
    display: flex;
    gap: 12px;
    width: 82px;
    height: 82px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.container .item .row1 .infor {
    width: 420px;
}

.container .item .row1 .infor .name p {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 16px;
}

.container .item .row1 .infor .price p {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 16px;

    span {
        font-size: 12px;
        color: #a0a7b4;
        font-weight: 400;
    }
}

.container .item .row1 .infor .description {
    margin-bottom: 24px;
}

.container .item .row1 .infor .description p {
    font-size: 14px;
    line-height: 27px;
    font-weight: 500;
    color: #333333;

    span {
        font-size: 12px;
        color: #a0a7b4;
        font-weight: 400;
    }
}

.container .item .row1 .infor .button button {
    width: 100%;
    height: 60px;
    background-color: #252525;
    border-radius: 6px;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    padding: 0px 8px;
    cursor: pointer;
    border: none;
}

.container .item .row1 .infor .button button:hover {
    background-color: #333333;
}

//////////////////////////////////////////////////////////////////////////////////////////////////////
/// 

.titleOtherProduct {
    width: 1180px;
    margin: auto;
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    text-align: center;
}

.container .otherProduct {
    max-width: 1180px;
    padding: 30px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.1);
    position: relative;

    .btnPrev,
    .btnNext {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        // left: -28px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 5px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.5s ease;

        .icon {
            font-size: 30px;
            color: rgba(0, 0, 0, 0.5)
        }
    }

    .btnNext {
        right: -28px;
    }

    .btnPrev {
        left: -28px;
    }

    .btnNext:hover,
    .btnPrev:hover {
        background-color: #dcdcdc;
    }
}

.container .carousel {
    max-width: 1120px;
    display: flex;
    gap: 30px;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    transition: transform 0.5s ease;
    height: auto !important;
}

.container .otherProduct .carousel .carouselItem {
    width: 200px;
    height: auto !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px !important;
    background-color: #ffffff;
    position: relative;
    cursor: pointer;
    scroll-snap-align: start;
}

.container .otherProduct .carousel .carouselItem img {
    width: 175px;
    height: 175px;
}

.container .otherProduct .carousel .carouselItem .title {
    width: 175px;
    color: #333;
    font-size: 14px;
    margin: 8px 0px;
}

.container .otherProduct .carousel .carouselItem .price {
    width: 175px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
}

.returnProductList {
    margin: 40px auto 40px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: #333333;
    border: none;
    height: 48px;
    width: 240px;
    font-weight: bold;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

.returnProductList:hover {
    background-color: #454545;
}



@media screen and (max-width:1250px) {
    // .container .banner {
    //     height: 480px;
    // }

    // .container .banner .bannerText {
    //     height: 480px;
    // }

    // .container .banner .bannerText .text {
    //     width: 100%;
    //     padding: 0 30px;
    // }
}

@media screen and (max-width:950px) {
    // .container .banner {
    //     height: 350px;
    // }

    // .container .banner .bannerText {
    //     height: 350px;
    // }
}


@media screen and (max-width:750px) {
    // .container .banner .bannerText .text .title {
    //     font-size: 24px;
    // }
}

@media screen and (max-width:550px) {
    // .container .banner {
    //     height: 300px;
    // }

    // .container .banner .bannerText {
    //     height: 300px;
    // }

    // .container .banner .bannerText .text {
    //     width: 100%;
    //     padding: 0 20px;
    // }
}