.header {
  background: transparent;
  width: 100vh;

  .site-top-bar {
    background-color: white;
  }

  .header-item-container {
    min-width: 1200px;
    display: flex;
    flex-direction: row;
  }

  .logo {
    margin-right: auto;
    width: 200px;
  }

  .top-bar-right-box {

  }

  .navigation-bar-container {

  }
}




