.container {
    margin: 0 auto;
    width: 1182px;
    margin-top: 60px;
    margin-bottom: 125px;
    display: flex;
    justify-content: space-between;
}

.container .containerCol1 {
    width: 300px !important;
    flex-shrink: 0;
}

.container .containerCol1 .title {
    height: 80px;
    padding-left: 25px;
    background-color: #2dccd3;
    display: flex;
    align-items: center;
}

.container .containerCol1 .title p {
    color: #ffffff;
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
}

.container .containerCol1 ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.container .containerCol1 ul li {
    padding-left: 25px;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #f7f7f8;
    cursor: pointer;
}

.container .containerCol1 ul li:hover {
    color: #2dccd3;
}

.container .containerCol1 ul li:nth-child(even) {
    background-color: #f1f1f1;
}

.container .col2 {
    width: 830px;
}

.container .col2 .titleArea .title {
    height: 80px;
    border-left: 3px solid #2dccd3;
    background-color: #f7f7f8;
    display: flex;
    align-items: center;
}

.container .col2 .titleArea .title p {
    padding: 0px 30px;
    font-size: 26px;
    font-family: 'Times New Roman', Times, serif;
}

.container .col2 .titleArea .img {
    width: 100%;
    height: 300px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.container .col2 .titleArea .sub {
    margin-top: 50px;
    margin-bottom: 47px;

    .subTitle {
        font-size: 32px;
        font-weight: 500;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        color: #2dccd3;
        margin-bottom: 37px;
        line-height: 1.5;
    }

    .description {
        text-align: center;
    }
}

.container .col2 .dataList {
    // margin: 0 !important;
    padding: 50px 50px 20px 50px;
    background-color: #f7f7f8;
}

.container .col2 .dataList .title {
    // margin: 0;
    // padding: 0;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid #ddd;

    p {
        margin: 0;
        padding: 0;
        font-size: 22px;
        color: #2dccd3;
        font-weight: 500;
        text-align: center;
        line-height: 1;
        font-family: 'Times New Roman', Times, serif;
    }
}

.container .col2 .dataList ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 0;
    // padding: 0px;
    // margin: 0;

    li {
        width: 50%;
        margin-bottom: 20px;
        position: relative;
        word-wrap: break-word;

        .liItem {
            padding-left: 35px;

            .icon {
                font-size: 30px;
                color: #2dccd3;
                position: absolute;
                left: 0px;
                top: 0px;
            }
        }
    }
}

.container .col2 .contentList {
    margin-top: 60px;
}

.container .col2 .contentList .item .title {
    height: 60px;
    padding: 0px 22px;
    border-left: 3px solid #2dccd3;
    background-color: #f7f7f8;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    p {
        font-size: 20px;
        font-weight: 600;
    }
}

.container .col2 .contentList .item .itemDFlex {
    display: flex;
    // gap: 25px;
    margin-bottom: 52px;

    .itemImg {
        width: 50%;
        padding: 0 25px;

        img {
            // width: 390px;
            width: 100%;
            object-fit: cover;
        }
    }

    .itemSubText {
        width: 50%;
        padding: 0 25px;

        p {
            margin: 0px !important;
            line-height: 2.4;
        }
    }
}

.container .col2 .contentList .button {
    margin-bottom: 52px;
    display: flex;
    justify-content: center;

    button {
        width: 350px;
        height: 63px;
        font-size: 110%;
        border: none;
        color: #ffffff;
        background-color: #535353;
        cursor: pointer;
        transition: all 0.3s ease-in-out 0s;
    }

    button:hover {
        background-color: #6d6d6d;
    }
}

.container .col2 .priceList .title {
    background-color: #2dccd3;
    height: 60px;
    padding: 0px 25px;
    display: flex;
    align-items: center;

    p {
        font-size: 20px;
        color: #ffffff;
        font-weight: bold;
    }
}


.container .col2 .priceList ul {
    background-color: #f7f7f8;
    list-style: none;

    li {
        display: flex;
        width: 100%;

        .col1 {
            flex: 1;
            border: 1px solid #ddd;
            border-bottom: none;
            border-top: none;
            margin: 0 !important;
            // width: 580px;

            p {
                padding: 0px 25px 0px 25px;
            }
        }

        .col2 {
            max-width: 200px;

            border-right: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            margin: 0 !important;

            p {
                padding: 0px 25px 0px 25px;
            }
        }
    }
}

.container .col2 .priceList table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    background-color: #f7f7f8;

    tr {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }

    td {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        vertical-align: top;
        padding: 20px 25px 20px 25px;
    }

    td:first-child {
        width: auto;
    }

    td:last-child {
        // max-width: 200px;
        width: 200px;

    }
}

.container .col2 .priceList .description {
    margin-top: 20px;

    p {
        margin: 0;
        line-height: 1.6;
        font-size: 14px;

    }
}

.container .col2 .relatedPost {
    margin-top: 60px;
    padding-top: 35px;
}

.container .col2 .relatedPost .title {
    padding-bottom: 35px;
    border-bottom: 1px solid #ddd;
}

.container .col2 .relatedPost .title p {
    margin: 0;
    padding: 0;
    font-size: 22px;
    color: #2dccd3;
    font-weight: 500;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.container .col2 .relatedPost ul {
    margin: 0;
    padding: 0;
    margin-top: 30px;
    list-style: none;
    display: flex;
    gap: 28px;
    flex-wrap: wrap;
}

.container .col2 .relatedPost ul .relatedPostItem {
    width: 401px;

    .img {
        width: 100%;
        height: 145px;
        overflow: hidden;
        background-color: #2dccd3;
        margin: 0 !important;
        padding: 0 !important;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
            transition: transform 0.75s ease;
            cursor: pointer;
        }

        img:hover {
            transform: scale(1.2);

        }
    }

    .text {
        max-width: 100%;
        background-color: #f7f7f8;
        padding: 40px 45px;
        height: 213px;
        // text-overflow: ellipsis;
        // overflow: hidden;

        .relatedPostItemTitle {
            margin: 0;
            padding: 0;
            font-size: 22px;
            color: #2dccd3;
            font-family: 'Times New Roman', Times, serif;
        }

        .relatedPostItemSub {
            display: -webkit-box;
            /* Hiển thị theo box model */
            -webkit-line-clamp: 3;
            /* Giới hạn số dòng hiển thị */
            -webkit-box-orient: vertical;
            /* Chiều hiển thị dọc */
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0;
            margin-top: 10px;
            width: 100%;
            word-wrap: break-word;
            line-height: 2.4;
            font-size: 14px;
        }
    }
}


@media screen and (max-width:1250px) {
    .container {
        width: 100%;
        margin-top: 0;
    }

    .container .containerCol1 {
        margin: 30px;
    }

    .container .col2 {
        margin: 30px;
        flex: 1;
        width: auto;
    }

    .container .col2 .titleArea .title {
        padding: 0;
    }

    //
    .container .col2 .relatedPost ul {
        gap: 20px;
    }



    .container .col2 .relatedPost ul .relatedPostItem {
        width: calc(100% / 2 - 20px);

        .text {
            padding: 30px 35px;
            height: 193px;

            .relatedPostItemSub {
                height: 101px;
                // padding-bottom: 35px;
            }
        }
    }

}

@media screen and (max-width:950px) {
    .container .containerCol1 {
        display: none;
    }

    .container .col2 .titleArea .title {
        height: 50px;
    }

    .container .col2 .titleArea .title p {
        padding: 0 20px;
        font-size: 20px;
    }

    .container .col2 .titleArea .sub {
        margin-top: 23px;
        margin-bottom: 26px;

        .subTitle {
            font-size: 21px;
            margin-bottom: 15px;
        }

        .description {
            font-size: 13px;
        }
    }

    .container .col2 .dataList {
        padding: 30px 30px 5px 30px;
    }

    .container .col2 .dataList .title {
        padding-bottom: 30px;
        margin-bottom: 30px;

        p {
            font-size: 16px;
        }
    }

    .container .col2 .dataList ul {
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        gap: 0;

        li {

            .liItem {
                padding-left: 35px;
                font-size: 14px;

                .icon {
                    font-size: 25px;
                }
            }
        }
    }

    .container .col2 .contentList {
        margin-top: 30px;
    }

    .container .col2 .contentList .item .title {
        height: 50px;
        padding: 0px 20px;
        margin-bottom: 20px;

        p {
            font-size: 16px;
            font-weight: 600;
        }
    }

    .container .col2 .contentList .item .itemDFlex {
        margin-bottom: 26px;

        .itemSubText {
            p {
                font-size: 13px;
            }
        }
    }

    .container .col2 .contentList .button {
        margin-bottom: 26px;

        button {
            height: 52px;
            font-size: 14px;
        }
    }

    .container .col2 .priceList .title {
        height: 50px;
        padding: 0px 20px;

        p {
            font-size: 16px;
        }
    }

    .container .col2 .relatedPost {
        margin-top: 30px;
    }

    .container .col2 .relatedPost .title {
        padding-bottom: 20px;
    }

    .container .col2 .relatedPost .title p {
        font-size: 18px;
    }

    .container .col2 .relatedPost ul {
        margin-top: 20px;
    }

    .container .col2 .relatedPost ul .relatedPostItem {


        .text {
            height: 187px;

            .relatedPostItemTitle {
                font-size: 16px;
            }
        }
    }

}

@media screen and (max-width:750px) {
    .container .col2 .titleArea .img {
        height: 230px;
    }

    .container .col2 .dataList ul {
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        gap: 0;

        li {
            width: 100%;

            .liItem {
                padding-left: 35px;
                font-size: 14px;

                button {
                    height: 52px;
                }


                .icon {
                    font-size: 25px;
                }
            }
        }
    }

    .container .col2 .contentList .item .itemDFlex {
        flex-direction: column;
        margin-bottom: 26px;

        .itemImg {
            width: 100%;
            margin-bottom: 26px;

            img {
                // width: 390px;
                width: 100%;
                object-fit: cover;
            }
        }

        .itemSubText {
            width: 100%;

            p {
                font-size: 13px;
            }
        }
    }

    .container .col2 .relatedPost {
        padding-top: 15px;
    }


}

@media screen and (max-width:480px) {
    .container .col2 .contentList .button {
        button {
            width: 100%;
        }
    }
}

@media screen and (max-width:550px) {
    .container .col2 .titleArea .img {
        height: 150px;
    }

    .container .col2 .relatedPost ul {
        gap: 10px;
    }

    .container .col2 .relatedPost ul .relatedPostItem {
        width: 100%;

        .img {
            width: 100%;
            height: 117px;
        }

        .text {
            height: 170px;

            .relatedPostItemSub {
                line-height: 2.0;
                height: 80px;
                text-overflow: ellipsis !important;
                overflow: hidden;
            }
        }
    }
}