.container * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hiragino Sans", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
}

.container {
    width: 100%;
}

.row1 {
    background-color: #ffffff;

    .displayFlex {
        width: 1182px;
        margin: 0px auto;
        display: flex;

        .col1,
        .col2,
        .col3 {
            width: 33.333333%;
            word-wrap: break-word;
            border-right: 1px solid #ddd;

            ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 5px;

                li {
                    span {
                        font-size: 14px;
                        font-weight: 400;
                    }
                }
            }
        }

        .col1 {
            padding: 65px 40px 55px 0px;

            .logo {
                width: 200px;
                height: 57px;
                margin-bottom: 20px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .col2,
        .col3 {
            padding: 65px 40px;

            .title {
                text-align: center;
                font-size: 24px;
                font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
                font-weight: 500;
                line-height: 25px;
                margin-bottom: 23px;
            }

            .button {
                display: flex;
                justify-content: center;
                margin-top: 23px;

                button {
                    min-width: 240px;
                    height: 60px;
                    padding: 0px 20px;
                    border: none;
                    cursor: pointer;
                    transition: all 0.3s ease;

                    a {
                        font-size: 16px;
                        color: #ffffff;
                    }
                }
            }
        }

        .col2 {
            button {
                background: #2bb8d1;
            }

            button:hover {
                background: #222222;
            }
        }

        .col3 {
            button {
                background: #222222;
            }

            button:hover {
                background: #2bb8d1;
            }
        }
    }



}

.row2 {
    width: 100%;
    background-color: #f4f4f5;

    .displayFlex {
        width: 1182px;
        margin: 0px auto;
        display: flex;
        font-size: 14px;

        ul {
            display: flex;
            flex-direction: column;
            gap: 14px;
            list-style: none;

            li {
                cursor: pointer;
                transition: all 0.3s ease;
            }

            li:hover {
                color: #2bb8d1;
            }
        }

        .col1 {
            padding: 60px 20px 55px 0px;

            .home {
                width: 275.5px;
                margin-bottom: 25px;
                height: 23px;

                .icon {
                    width: 17px;
                    height: 17px;
                    cursor: pointer;
                    transition: all 0.3s ease;
                }

                .icon:hover {
                    color: #2bb8d1;
                }
            }




        }

        .col2 {
            padding: 60px 0px;

            .title {
                margin-bottom: 25px;

                p {
                    color: #2bb8d1;
                    font-size: 20px;
                    font-weight: 600;
                    cursor: pointer;
                    padding: 0;
                    line-height: 1.1;
                }
            }
        }
    }


}

.row3 {
    background-color: #222;
    padding: 0px 20px;

    .displayFlex {
        width: 1182px;
        margin: 0px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        position: relative;
        height: 60px;


        .social {
            position: absolute;
            left: 0px;

            ul {
                display: flex;
                gap: 5px;
                align-items: center;
                justify-content: center;
                list-style: none;

                li {
                    width: 20px;
                    height: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;

                    .instagramIcon,
                    .wifiIcon {
                        width: 100%;
                        height: 100%;
                    }

                    .wifiIcon {
                        position: absolute;
                        bottom: -2px;
                        left: 0px;
                        transform: rotate(43deg);
                    }
                }
            }
        }

        .copyright {
            p {
                text-align: center;
                font-size: 12px;
            }
        }
    }
}



@media screen and (max-width:1250px) {
    .container {


        .row1 {
            width: 100%;

            .displayFlex {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;


                .col1 {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    border-bottom: 1px solid #ddd;
                    border-right: none;
                    padding: 60px 30px 50px 30px;

                    .logo {
                        width: 176px;
                        height: 50px;
                    }
                }

                .col2,
                .col3 {
                    width: 50%;
                    padding: 60px 30px;
                }

                .col3 {
                    border: none;
                }
            }
        }
    }


    .container .row2 {

        .displayFlex {
            width: 100%;

            .col1,
            .col2 {
                width: 50%;
                padding: 60px 30px 60px 30px;
            }

        }
    }

}

@media screen and (max-width:950px) {
    .container .row3 {
        padding: 0;

        .displayFlex {
            display: flex;
            flex-direction: column;
            height: 100px;
            width: 100%;

            .social {
                width: 100%;
                height: 50px;
                position: static;
                border-bottom: 1px solid #555;
            }

            .copyright {
                width: 100%;
                height: 50px;
                border-bottom: 1px solid #555;
            }

            .social,
            .copyright {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

@media screen and (max-width:750px) {
    .container {


        .row1 {
            width: 100%;

            .displayFlex {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                .col1 {
                    display: block;
                    text-align: left;
                    width: 100%;
                    padding: 40px 30px 30px 30px;
                    border: none;
                    border-bottom: 1px solid #ddd;
                }

                .col2,
                .col3 {
                    width: 100%;
                    padding: 40px 30px;
                    border: none;

                    .button {
                        button {
                            min-width: 200px;
                            height: 45px;
                            padding: 0px 15px;

                            a {
                                font-size: 12px;
                                color: #ffffff;
                            }
                        }
                    }
                }

                .col2 {
                    border-bottom: 1px solid #ddd;
                }
            }
        }
    }


    .container .row2 {

        .displayFlex {
            width: 100%;

            .col1,
            .col2 {
                width: 50%;
                padding: 60px 30px 60px 30px;
            }

        }
    }

    .container .row3 {
        .displayFlex {
            display: flex;
            flex-direction: column;
            height: 100px;
            width: 100%;

            .social {
                width: 100%;
                height: 50px;
                position: static;
                border-bottom: 1px solid #555;
            }

            .copyright {
                width: 100%;
                height: 50px;
                border-bottom: 1px solid #555;
            }

            .social,
            .copyright {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}