* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hiragino Sans", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
}

html {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: unset;
}

@media (max-width: 1200px) {
    html:has(#root.disable) {
        overflow: hidden;
    }

    #root.disable {
        pointer-events: none;
    }

    #root.disable .drawer *,
    #root.disable .drawer {
        pointer-events: auto;
    }

    .disable-background-overlay {
        display: none;
        position: absolute;
        width: 100vw;
        height: 100vh;
        z-index: 990;
        background-color: rgba(0, 0, 0, 0.5);
        top: 0;
        left: 0;
    }

    #root.disable *:not(#drawer-popup) .disable-background-overlay {
        display: block;
    }
}


.btn-primary {
    background-color: #0d6efd;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 0.25rem;
}

.btn-primary:hover {
    background-color: #0b5ed7;
}

.btn-secondary {
    background-color: #6c757d;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 0.25rem;
}

.btn-secondary:hover {
    background-color: #5c636a;
}

.btn-success {
    background-color: rgba(39, 174, 96, 1);
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 0.25rem;
}

.btn-success:hover {
    background-color: rgb(34, 150, 82);
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 0.25rem;
}

.btn-danger:hover {
    background-color: #c82333;
}

.btn-warning {
    background-color: #ffc107;
    color: #212529;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 0.25rem;
}

.btn-warning:hover {
    background-color: #e0a800;
}

.btn-info {
    background-color: #0dcaf0;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 0.25rem;
}

.btn-info:hover {
    background-color: #08b8d9;
}

.btn-light {
    background-color: #f8f9fa;
    color: #212529;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 0.25rem;
}

.btn-light:hover {
    background-color: #e2e6ea;
}

.btn-dark {
    background-color: #343a40;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 0.25rem;
}

.btn-dark:hover {
    background-color: #23272b;
}