* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hiragino Sans", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
}

/* html {
    overflow-x: hidden;
}

@media (max-width: 1200px) {
    html:has(#root.disable) {
        overflow: hidden;
    }

    #root.disable
    {
        pointer-events: none;
    }

    #root.disable .drawer *, #root.disable .drawer {
        pointer-events: auto;
    }

    .disable-background-overlay {
        display: none;
        position: absolute;
        width: 100vw;
        height: 100vh;
        z-index: 990;
        background-color: rgba(0, 0, 0, 0.5);
        top: 0;
        left: 0;
    }

    #root.disable *:not(#drawer-popup) .disable-background-overlay {
        display: block;
    }
} */