html {
    overflow-x: hidden;
}

html:has(#root.disable) {
    overflow: hidden;
}

#root.disable *:not(#drawer-popup),
#root.disable *:not(#drawer-popup *)
{
    pointer-events: none;
    backdrop-filter: blur(1px);
}